* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: 'Open Sans', sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
}

/*......................................width = 1200px.......................*/
html, body {
    font-size: 105%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    margin: 0 auto;
}

/*.........................HEADER...........................*/
.box_header {
    display: flex;
    justify-content: center;
    width: 75rem;
    border-bottom: 1px solid #eceef4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44rem;
    height: 8.1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3.5rem;
    background-image: url("../img/logo.png");
}

.logo a {
    text-decoration: none;
    color: #3687c4;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.logo_tablet {
    display: none;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 18.7rem;
    height: 3.75rem;
    position: relative;
    z-index: 0;
}

.phone svg {
    transform: rotate(90deg);
}

.phone, .placeholder, .email {
    fill: #6d6e71;
    padding: 0 0.75rem;
}

.border {
    width: 1px;
    height: 0.9rem;
    background-color: #bcbec3;
    margin-bottom: 0.26rem;
}

.email {
    padding-right: 0;
}

.phone:hover {
    fill: #1faae2;
}

.placeholder:hover {
    fill: #1faae2;
}

.email:hover {
    fill: #1faae2;
}

.icons span {
    position: absolute;
    visibility: hidden;
    display: block;
    background-image: url("../img/back.png");
    width: 8.5rem;
    height: 2.3rem;
    background-size: 8.5rem 2.3rem;;
    color: #6d6e71;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.8rem;
}

.phone:hover span {
    visibility: visible;
    top: -0.8rem;
    right: 1.6rem;
}

.placeholder:hover span {
    visibility: visible;
    top: -0.8rem;
    right: -1rem;
}

.email:hover span {
    visibility: visible;
    top: -0.8rem;
    right: -3.6rem;
}

/*.........................NAV...........................*/
.navigation a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #6d6e71;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 34px 26px;
}

.navigation li:hover a {
    color: #1faae2;
    padding-top: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.search img {
    margin: 0 13px;
    width: 25px;
    height: 25px
}

.search {
    grid-area: search;
    background-color: #ffffff;
    margin: 0;
}

.search input {
    height: 40px;
    width: 135px;
    border: none;
}

/*.........................Main...........................*/
.box_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.2rem;
    background-image: url("../img/iback.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75rem auto;
}

.main {
    width: 43.8rem;
    height: 11.2rem;
    padding-bottom: 8rem;
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
}

.main_text div {
    display: inline-block;
    position: relative;
    margin: 1.3rem auto 0;
}

.main_text span {
    font-size: 5.6rem;
    font-weight: 700;
    color: #bbedff;
}

.main_text p:first-child {
    font-size: 1.7rem;
    font-weight: 300;
}

.main_text p:last-child {
    position: absolute;
    top: 0.75rem;
    text-shadow: 1px 1px 8px rgba(1, 1, 1, 0.15);
    font-size: 2.2rem;
    font-weight: 700;
}

.main_image {
    display: flex;
    justify-content: flex-end;
    margin-top: 3.6rem;
}

.main_image img {
    margin: 0.4rem;
}

.img_1, .img_2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 12rem;
    height: 9rem;
    background-image: url("../img/design1.png");
    background-size: contain;
}

.img_1 div, .img_2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.img_1 div {
    color: #ffffff;
    background: #8aca51;
    opacity: 0.5;
}

.img_2 {
    background-image: url("../img/design2.png");
}

.img_2 div {
    color: #cc9800;
    background: #feeb75;
    opacity: 0.5;
}

.chevron-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 9rem;
    background: #f4f4f4;
}

.fa-chevron-right i {
    font-size: 1.6rem;
    color: #d4d4d4;
}

/*.........................ARTICLES...........................*/
.box_article {
    width: 43.8rem;
}

.article {
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    width: 45%;
}

.section img {
    margin: 0.75rem;
    width: 4rem;
}

.text span {
    display: block;
    margin-top: 0.75rem;
    font-size: 1rem;
    color: #6d6e71;
    font-weight: 700;
    line-height: 0.4rem;
}

.text p {
    text-align: justify;
    font-size: 0.6rem;
    color: #6d6e71;
    font-weight: 300;
    line-height: 0.9rem;
}

@media only screen and ( min-width: 1346px) {

    .nav {
        display: flex;
        width: 75rem;
        justify-content: center;
    }

    .navigation {
        align-items: center;
        grid-area: nav;
        background-color: #ffffff;
        border-top: 1px #eceef4 solid;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .nav_logo_toggle {
        display: none;
    }

    .navigation ul {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .navigation li {
        list-style-type: none;
        background: white;
        border-left: 1px #eceef4 solid;
        /*margin: 1px 0;*/
    }

    .navigation a:hover {
        background-image: url(../img/active.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .navigation li:first-child {
        border-left: none;
    }

    .navigation a {
        font-size: 0.6rem;
        padding: 14px;
    }

    .navigation__button {
        display: none;
    }

    .search {
        border-top: 1px #eceef4 solid;
        margin: 0;
        justify-content: flex-start;
        padding: 0 0 0 97px;
        font-size: 0.6rem;
        color: #6d6e71;
    }

    .search img {
        margin-right: 0.4rem;
        width: 1rem;
        height: auto;
    }

}

@media only screen and ( max-width: 1345px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 46rem;
        margin: 0 auto;
        padding: 0;
    }

    .box_header {
        display: none;
    }

    .logo {
        display: none;
    }

    .nav_logo_toggle {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .nav {
        display: flex;
        width: 55rem;
        justify-content: center;
    }

    .nav_logo_toggle div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 5rem; /*изменить размер*/
        height: 2rem;
        background-image: url("../img/logosmall.png");
        background-size: 5rem auto;
        background-repeat: no-repeat;
    }

    .nav_logo_toggle a {
        position: absolute;
        top: -0.5rem;
        text-decoration: none;
        color: #3687c4;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2.1rem;
    }

    .navigation {
        grid-area: nav;
        height: 97px;
        width: 500px;
    }

    .navigation:hover .navigation__button {
        margin: 0 40px;
        transform: rotate(90deg);
    }

    .navigation__button {
        margin: 0 40px;
    }

    .navigation ul {
        display: none;
    }

    .navigation:hover ul {
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        top: 97px;
        left: 10px;
        padding: 10px;
        display: block;
    }

    .navigation ul {
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        top: 97px;
        left: 10px;
        padding: 10px;
    }

    .navigation li {
        height: 50px;
        list-style-type: none;
    }

    .navigation a {
        font-size: 20pt;
    }

    .search {
        justify-content: flex-end;
    }

    /*.........................Main...........................*/
    .box_main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25.5rem;
        background-image: url("../img/iback-tablet.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .main_text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_text div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5.6rem;
    }

    .main_text span {
        font-size: 4rem;
        font-weight: 700;
        color: #bbedff;
    }

    .main_text p:first-child {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .main_text p:last-child {
        position: absolute;
        top: 0.3rem;
        left: -0.5rem;
        text-shadow: 1px 1px 0.5rem rgba(1, 1, 1, 0.15);
        font-size: 2rem;
        font-weight: 700;
    }

    .main_image {
        display: none;
        justify-content: flex-end;
        margin-top: 8px;
    }

    /*.........................ARTICLES...........................*/
    .box_article {
        width: 100%;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        display: flex;
        width: 70%;
        margin-top: 1rem;
        padding-right: 1.25rem;
    }

    .section img {
        margin: 0.75rem;
        width: 3.5rem;

    }

    .text span {
        display: block;
        margin-top: 1.2rem;
        font-size: 1rem;
        color: #6d6e71;
        font-weight: 700;
        line-height: 0.4rem;
    }

    .text p {
        text-align: justify;
        font-size: 0.6rem;
        color: #6d6e71;
        font-weight: 300;
        line-height: 0.9rem;
    }

}

/*.nav {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width:  43.8rem;*/
/*}*/
/*.nav__logo_toggle {*/
/*    visibility: hidden;*/
/*}*/
/*.fa-bars {*/
/*    visibility: hidden;*/
/*}*/
/*.nav__menu {*/
/*    display: flex;*/
/*    font-size: 0.5rem;*/
/*    font-weight: 700;*/
/*    color: #6d6e71;*/
/*}*/
/*.nav__menu__items {*/
/*    position: relative;*/
/*    padding: 1.3rem 0.75rem;*/
/*    border-right: 1px solid #eceef4;*/
/*}*/
/*.nav__menu__items:last-child {*/
/*    border-right: none;*/
/*}*/
/*.nav__menu__items a {*/
/*    display: block;*/
/*    position: relative;*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/
/*.nav__menu__items:hover {*/
/*    color: #1faae2;*/
/*}*/
/*.nav__menu__items::after {*/
/*    visibility: hidden;*/
/*    content: '';*/
/*    position: absolute;*/
/*    margin-left: calc(50% - 2rem);*/
/*    bottom: 0;*/
/*    border: 1.3rem solid transparent;*/
/*    border-bottom: 0.4rem solid #1faae2;*/
/*}*/
/*.nav__menu__items:hover::after {*/
/*    visibility: visible;*/
/*}*/

/*.nav__search {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 0.6rem;*/
/*    color: #6d6e71;*/
/*}*/
/*.nav__search img {*/
/*    margin-right: 0.4rem;*/
/*    width: 1rem;*/
/*    height: auto;*/
/*}*/


/*@media only screen and (max-width: 768px) {*/
/*    html, body {*/
/*        font-size: 104%;*/
/*    }*/

/*    .wrapper {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        width: 46rem;*/
/*        margin: 0 auto;*/
/*        padding: 0;*/
/*    }*/

/*    !*.........................HEADER...........................*!*/
/*    .box_header {*/
/*        display: none;*/
/*    }*/

/*    .logo {*/
/*        display: none;*/
/*    }*/

/*    !*.........................NAV...........................*!*/
/*    .nav {*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*        align-items: center;*/
/*        width: 100%;*/
/*    }*/

/*    .nav__menu-fa-bars {*/
/*        visibility: visible;*/
/*        display: flex;*/
/*        justify-content: flex-start;*/
/*        align-items: flex-end;*/
/*        width: 33%;*/

/*    }*/

/*    .fa-bars {*/
/*        visibility: visible;*/
/*        top: -1rem;*/
/*        color: #1faae2;*/
/*        font-size: 2.5rem;*/
/*    }*/

/*    .nav_logo_toggle {*/
/*        visibility: visible;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/

/*    }*/

/*    .nav_logo_toggle div {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        position: relative;*/
/*        width: 5rem; !*изменить размер*!*/
/*        height: 2rem;*/
/*        background-image: url("../img/logosmall.png");*/
/*        background-size: 5rem auto;*/
/*        background-repeat: no-repeat;*/
/*    }*/

/*    .nav_logo_toggle a {*/
/*        position: absolute;*/
/*        top: -0.5rem;*/
/*        text-decoration: none;*/
/*        color: #3687c4;*/
/*        font-size: 1.3rem;*/
/*        font-weight: 400;*/
/*        line-height: 2.1rem;*/
/*    }*/

/*    .nav__menu {*/
/*        display: none;*/
/*        width: 4rem;*/
/*        height: 3.1rem;*/
/*        font-size: 0.8rem;*/
/*        font-weight: 700;*/
/*        color: #6d6e71;*/
/*    }*/

/*    .nav__search {*/
/*        display: flex;*/
/*        justify-content: flex-end;*/
/*        align-items: center;*/
/*        width: 33%;*/
/*        color: #6d6e71;*/
/*        line-height: 3.1rem;*/
/*    }*/

/*    .nav__search img {*/
/*        margin-right: 0.6rem;*/
/*        width: 0.75rem;*/
/*        height: auto;*/
/*    }*/

/*    !*.........................Main...........................*!*/
/*    .box_main {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        width: 100%;*/
/*        height: 25.5rem;*/
/*        background-image: url("../img/iback-tablet.png");*/
/*        background-repeat: no-repeat;*/
/*        background-position: center top;*/
/*        background-size: 100% auto;*/
/*    }*/

/*    .main {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        padding: 0;*/
/*    }*/

/*    .main_text {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    .main_text div {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        padding-bottom: 5.6rem;*/
/*    }*/

/*    .main_text span {*/
/*        font-size: 4rem;*/
/*        font-weight: 700;*/
/*        color: #bbedff;*/
/*    }*/

/*    .main_text p:first-child {*/
/*        font-size: 1.5rem;*/
/*        font-weight: 300;*/
/*    }*/

/*    .main_text p:last-child {*/
/*        position: absolute;*/
/*        top: 0.3rem;*/
/*        left: -0.5rem;*/
/*        text-shadow: 1px 1px 0.5rem rgba(1, 1, 1, 0.15);*/
/*        font-size: 2rem;*/
/*        font-weight: 700;*/
/*    }*/

/*    .main_image {*/
/*        display: none;*/
/*        justify-content: flex-end;*/
/*        margin-top: 8px;*/
/*    }*/

/*    !*.........................ARTICLES...........................*!*/
/*    .box_article {*/
/*        width: 100%;*/
/*    }*/

/*    .article {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    .section {*/
/*        display: flex;*/
/*        width: 70%;*/
/*        margin-top: 1rem;*/
/*        padding-right: 1.25rem;*/
/*    }*/

/*    .section img {*/
/*        margin: 0.75rem;*/
/*        width: 3.5rem;*/

/*    }*/

/*    .text span {*/
/*        display: block;*/
/*        margin-top: 1.2rem;*/
/*        font-size: 1rem;*/
/*        color: #6d6e71;*/
/*        font-weight: 700;*/
/*        line-height: 0.4rem;*/
/*    }*/

/*    .text p {*/
/*        text-align: justify;*/
/*        font-size: 0.6rem;*/
/*        color: #6d6e71;*/
/*        font-weight: 300;*/
/*        line-height: 0.9rem;*/
/*    }*/
/*}*/


/*@font-face {*/
/*    font-family: 'Open Sans';*/
/*    src: local('Open Sans Bold'), local('Open-Sans-Bold'),*/
/*    url('./fonts/OpenSans-Bold.woff') format('woff'),*/
/*    url('./fonts/OpenSans-Bold.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Open Sans';*/
/*    src: local('Open Sans Semi Bold'), local('Open-Sans-Semi-Bold'),*/
/*    url('./fonts/OpenSans-SemiBold.woff') format('woff'),*/
/*    url('./fonts/OpenSans-SemiBold.ttf') format('truetype');*/
/*    font-weight: 600;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Open Sans';*/
/*    src: local('Open Sans Regular'), local('Open-Sans-Regular'),*/
/*    url('./fonts/OpenSans-Regular.woff') format('woff'),*/
/*    url('./fonts/OpenSans-Regular.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Open Sans';*/
/*    src: local('Open Sans Light'), local('Open-Sans-Light'),*/
/*    url('./fonts/OpenSans-Light.woff') format('woff'),*/
/*    url('./fonts/OpenSans-Light.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size: 10px;*/
/*}*/

/*header, nav, main {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*header .header-wrap, nav .nav-wrap, main .main-wrap {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 1160px;*/
/*}*/

/*header .header-wrap {*/
/*    padding: 56px 0;*/
/*    height: 100%;*/
/*}*/

/*header .logo {*/
/*    position: relative;*/
/*    left: -18px;*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 403px;*/
/*    height: 105px;*/
/*    padding: 5px 0;*/
/*    background-image: url("./images/logo.jpg");*/
/*    background-position: center center;*/
/*    background-size: 403px 93px;*/
/*}*/

/*header .logo > p {*/
/*    font-size: 4.1rem;*/
/*    font-weight: 300;*/
/*    color: #3687c4;*/
/*}*/

/*header .contacts {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    align-self: flex-end;*/
/*    list-style-type: none;*/
/*    padding-right: 10px;*/
/*}*/

/*header .contact-item {*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 34px;*/
/*    min-width: 76px;*/
/*    padding: 0 23px;*/
/*    cursor: pointer;*/
/*}*/

/*header .item-separator {*/
/*    width: 1px;*/
/*    height: 24px;*/
/*    background: #bcbec3;*/
/*}*/

/*header .contact-item svg {*/
/*    fill: #6d6e71;*/
/*}*/

/*header .contact-item:hover svg {*/
/*    fill: #1faae2;*/
/*}*/

/*header .contact-item:hover::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    bottom: 44px;*/
/*    left: -75.5px;*/
/*    text-align: center;*/
/*    font-size: 1.6rem;*/
/*    font-weight: 300;*/
/*    line-height: 4.7rem;*/
/*    width: 227px;*/
/*    height: 61px;*/
/*    color: #6d6e71;*/
/*    background: url("./images/contact-tip.png") no-repeat center;*/
/*    background-size: 227px 61px;*/
/*}*/

/*header .contacts li:nth-child(1):hover::before {*/
/*    content: 'Saudi Arabia . Alreyadah';*/
/*}*/

/*header .contacts li:nth-child(3):hover::before {*/
/*    content: '+966 50 123 4567';*/
/*}*/

/*header .contacts li:nth-child(5):hover::before {*/
/*    content: 'our-mail@gmail.com';*/
/*}*/

/*header .search-box, header .burger-btn {*/
/*    display: none;*/
/*}*/

/*nav {*/
/*    height: 85px;*/
/*    border-top: 1px solid #eceef4;*/
/*}*/

/*nav .nav-wrap {*/
/*    height: 100%;*/
/*}*/

/*nav .nav-list {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    list-style-type: none;*/
/*    height: 100%;*/
/*}*/

/*nav .nav-item {*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 0 22px;*/
/*    height: 100%;*/
/*    border-right: 1px solid #eceef4;*/
/*    cursor: pointer;*/
/*}*/

/*nav .nav-item:last-child {*/
/*    border: none;*/
/*}*/

/*nav .nav-item a {*/
/*    font-size: 1.3rem;*/
/*    font-weight: 700;*/
/*    text-decoration: none;*/
/*    color: #6d6e71;*/
/*}*/

/*nav .nav-item:hover a {*/
/*    color: #1faae2;*/
/*    transition: 150ms ease;*/
/*}*/

/*nav .nav-active-icon {*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

/*nav .nav-item:hover > .nav-active-icon {*/
/*    display: block;*/
/*}*/

/*nav .search-box {*/
/*    display: flex;*/
/*}*/

/*.search-box {*/
/*    flex-flow: row nowrap;*/
/*    padding-right: 34px;*/
/*}*/

/*.search-input {*/
/*    font-weight: 300;*/
/*    font-size: 1.5rem;*/
/*    outline: none;*/
/*    border: none;*/
/*    padding: 3px 5px;*/
/*    width: 170px;*/
/*}*/

/*.search-icon {*/
/*    padding-right: 10px;*/
/*}*/

/*main {*/
/*    background-image: url(./images/back.png);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 2000px 885px;*/
/*    background-position: top center;*/
/*}*/

/*main .main-wrap {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*}*/

/*main .main-heading-box {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    padding: 265px 0 25px;*/
/*    width: 100%;*/
/*}*/

/*main .heading-wrap, main .slider-wrap {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*}*/


/*main .heading-wrap {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: center;*/
/*    align-items: flex-end;*/
/*    height: 98px;*/
/*}*/

/*main h1 {*/
/*    position: absolute;*/
/*    bottom: 58px;*/
/*    left: -6px;*/
/*    font-size: 5.8rem;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*    text-shadow: 1px 1px 8px rgba(1, 1, 1, 0.15);*/
/*    line-height: 4.6rem;*/
/*}*/

/*main h2 {*/
/*    font-size: 4.5rem;*/
/*    font-weight: 300;*/
/*    text-transform: lowercase;*/
/*    color: #fff;*/
/*    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.15);*/
/*    line-height: 3.8rem;*/
/*}*/

/*main .heading-symbol {*/
/*    font-size: 11.4rem;*/
/*    font-weight: 700;*/
/*    color: #bbedff;*/
/*    line-height: 9rem;*/
/*}*/

/*main .slider-wrap {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    align-self: flex-end;*/
/*    justify-self: flex-end;*/
/*    padding-top: 158px;*/
/*}*/

/*main .card {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    justify-content: flex-end;*/
/*    width: 322px;*/
/*    height: 241px;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 323px;*/
/*}*/

/*main .card:nth-child(1) {*/
/*    background-image: url(./images/card-green.png);*/
/*}*/

/*main .card:nth-child(2) {*/
/*    background-image: url(./images/card-yellow.png);*/
/*}*/

/*main .emotion-bar {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    height: 65px;*/
/*}*/

/*main .emotion-bar > .icon-like, main .emotion-bar > span {*/
/*    cursor: pointer;*/
/*}*/

/*main .card:nth-child(1) .emotion-bar {*/
/*    background: rgba(138, 202, 81, 0.9);*/
/*}*/

/*main .card:nth-child(2) .emotion-bar {*/
/*    background: rgba(254, 235, 117, 0.9);*/
/*}*/

/*main .card:nth-child(1) .icon-like {*/
/*    fill: #adff63;*/
/*}*/

/*main .card:nth-child(2) .icon-like {*/
/*    fill: #cc9800;*/
/*}*/

/*main .card span {*/
/*    font-size: 1.4rem;*/
/*    font-weight: 600;*/
/*    padding-left: 12px;*/
/*}*/

/*main .card:nth-child(1) span {*/
/*    color: #fff;*/
/*}*/

/*main .card:nth-child(2) span {*/
/*    color: #cc9800;*/
/*}*/

/*main .btn-next {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: #f4f4f4;*/
/*    width: 110px;*/
/*    height: 241px;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/

/*main .icon-arrow {*/
/*    fill: #d4d4d4;*/
/*}*/

/*main .btn-next:hover .icon-arrow {*/
/*    fill: #909090;*/
/*}*/

/*main .about-box {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    align-items: flex-start;*/
/*    justify-content: space-between;*/
/*    padding-top: 126px;*/
/*    padding-bottom: 185px;*/
/*    width: 100%;*/
/*}*/

/*main .about-item {*/
/*    display: grid;*/
/*    grid-template-areas: "image heading" "image text";*/
/*    grid-template-columns: 122px 1fr;*/
/*    grid-gap: 0;*/
/*    color: #6d6e71;*/
/*    max-width: 516px;*/
/*}*/

/*main .about-item img {*/
/*    grid-area: image;*/
/*    padding-right: 15px;*/
/*}*/

/*main .about-item h3 {*/
/*    grid-area: heading;*/
/*    padding-top: 20px;*/
/*    font-size: 2.6rem;*/
/*    font-weight: 700;*/
/*    line-height: 2.1rem;*/
/*}*/

/*main .about-item p {*/
/*    grid-area: text;*/
/*    padding-top: 30px;*/
/*    font-size: 1.6rem;*/
/*    font-weight: 300;*/
/*    text-align: justify;*/
/*    -webkit-hyphens: auto;*/
/*    -moz-hyphens: auto;*/
/*    -ms-hyphens: auto;*/
/*    hyphens: auto;*/
/*}*/

/*@media (max-width: 1345px) {*/
/*    header .contacts, nav, main .slider-wrap {*/
/*        display: none;*/
/*    }*/

/*    header .header-wrap {*/
/*        position: relative;*/
/*        display: flex;*/
/*        flex-flow: row nowrap;*/
/*        align-items: center;*/
/*        justify-content: space-between;*/
/*        height: 97px;*/
/*        padding: 0 40px;*/
/*        width: 100%;*/
/*    }*/

/*    header .logo {*/
/*        position: absolute;*/
/*        flex-flow: row nowrap;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        width: 155px;*/
/*        height: 60px;*/
/*        padding: 0;*/
/*        top: 50%;*/
/*        left: 50%;*/
/*        transform: translate(-50%, -50%);*/
/*    }*/

/*    header .search-box, header .burger-btn {*/
/*        display: flex;*/
/*        padding: 0;*/
/*    }*/

/*    header .burger-btn {*/
/*        flex-flow: column nowrap;*/
/*        justify-content: space-between;*/
/*        width: 60px;*/
/*        height: 56px;*/
/*        cursor: pointer;*/
/*    }*/

/*    header .burger-stroke {*/
/*        width: 100%;*/
/*        height: 10px;*/
/*        background: #3687c4;*/
/*    }*/

/*    main {*/
/*        background-image: url(./images/back-tablet.png);*/
/*        background-size: 1345px 736px;*/
/*    }*/

/*    main .main-wrap {*/
/*        width: 915px;*/
/*    }*/

/*    main .main-heading-box {*/
/*        padding: 265px 0 0 0;*/
/*    }*/

/*    main .about-box {*/
/*        flex-flow: column nowrap;*/
/*        justify-content: flex-start;*/
/*        padding-top: 398px;*/
/*        padding-bottom: 70px;*/
/*        width: 100%;*/
/*    }*/

/*    main .about-item {*/
/*        min-width: 100%;*/
/*        padding-bottom: 40px;*/
/*    }*/
/*}*/

/*@media (max-width: 960px) {*/
/*    main .main-wrap {*/
/*        width: 90%;*/
/*    }*/

/*    main h1 {*/
/*        bottom: 80px;*/
/*    }*/
/*}*/

/*@media (max-width: 700px) {*/
/*    header .search-icon {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media (max-width: 580px) {*/
/*    header .burger-btn {*/
/*        height: 40px;*/
/*        width: 40px;*/
/*    }*/

/*    header .burger-stroke {*/
/*        height: 6px;*/
/*    }*/

/*    .search-input {*/
/*        width: 100px;*/
/*    }*/

/*    main h1 {*/
/*        font-size: 5rem;*/
/*    }*/

/*    main h2 {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .search-input {*/
/*        width: 70px;*/
/*    }*/
/*}*/